/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.banner{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
    url(../images/cover-truck.jpg) no-repeat 0px 0px #eeece9;
  min-height: 855px;
  background-size: cover;
  position: relative;
}
.head-logo{
  float: left;
}
.head-logo a {
  display: block;
  margin-top: 3.5em;
}
.top-nav-name{
  float: right;
  color: #fff;
  font-family: 'Gotu';
  margin-top: 4%;
}
.top-nav{
  float: left;
  width: 70%;
}
.top-nav ul{
	padding:0;
	margin:0;
  /*background-color: rgba(0,0,0,0.05);*/
}
.top-nav ul  li{
  display: inline-block;
  width: 18%;
  margin-right: .4em;
  float: left;
}
.top-nav ul  li.active{
	  background: #bb1e10;
}
.top-nav ul li a{
color: #FFF;
  font-size: 18px;
  margin-right: .4em;
  float: left;
  padding: 3em 0em 3em 1.4em;
  text-align: center;
  width: 79%;
  text-shadow: 0px 0px 10px #000;
}
.top-nav ul li a i{
  display: block;
  margin-top: 1em;
  color: #FFF;
  font-size: 11px;
  font-style: italic;
}
.top-nav ul li a:hover{
	text-decoration:none;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    -ms-osx-font-smoothing: grayscale;
        -o-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
    -o-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bb1e10;
  -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
    -o-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*---*/
.banner-info {
  text-align: center;
   text-align: center;
  margin: 14em 0 14em 0;
}
.banner-info h2{
  color: #FFF;
  margin: 0;
  font-size: 65px;
  font-weight: 300;
  padding-bottom: 1em;
}
.banner-info h2 span{
  font-weight: 700;
  padding-bottom: 0.4em;
  border-bottom: solid 3px #BE4343;
}
.banner-info h2 span.right-border{
  font-weight: 500;
  color: #C2C2C2;
}
.banner-info p{
	color: #FFF;
	font-size: 16px;
	margin: 1em 0 0 0;
	line-height: 1.8em;
}
/*-- banner-bottom --*/
.banner-bottom{

}
.banner-bottom-grids{
	margin: 5em 0;
}
.banner-bottom-left{
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
}
.banner-bottom-left h3{
  color: #000;
  font-size: 37px;
  margin: 0;
  line-height: 1.2em;
  font-weight: 300;
}
.banner-bottom-left h5{
  color: #969696;
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.8em;
}
.banner-bottom-left h5 span{
	display:block;
}
.banner-bottom-left p{
color: #333333;
  font-size: 14px;
  margin: 0;
  line-height: 1.8em;
  font-weight: 600;
}
.banner-bottom-right img{
	width:90%;
}
.see-button{
  margin-top: 1em;
}
.see-button a{
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 4em;
  outline: none;
  background: #393939;
  border: none !important;
  border-radius:0;
  }
.jumbotron.banner-bottom-left {
  background: none;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 78%;
  z-index: 999;
  left: 45%;
  padding: 0;
  margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0 .5em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:15px;
  width:15px;
  display:inline-block;
  border:2px solid #FFF;
}
.callbacks_here a:after{
	border: 2px solid #FFFFFF;
	background: #bb1e10;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bb1e10;
  border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a.btn.btn-primary.btn-lg.see-button.hvr-shutter-out-horizontal {
    background: #3F3C35;
}
/*-- specialty --*/
.specialty{
  background: #FAFAFA;
}
.specialty-info h3{
	color: #bb1e10;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.specialty-info h5 {
  color: #969696;
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.8em;
}
.specialty-text {
  font-size: 14px;
  font-weight: 600;
}
.specialty-text img {
  width: 100%;
  height: 200px;
}
.specialty-info h5 span{
	display:block;
}
.specialty-info p {
  color: #333333;
  font-size: 14px;
  margin: 3em 0 0 0;
  line-height: 1.8em;
  font-weight: 600;
}
.specialty-info p  span{
  display: block;
  margin-top: 2em;
}
.service-box {
background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: center;
}
.service-box .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #dfdfdf;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.service-box .i
con img {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease 0s;
}

.service-box:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.service-box:hover .icon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.service-box h5{
  color: #000;
  font-size: 17px;
  font-weight: 600;
  margin: .4em 0;
}
.service-box p{
color: #333333;
  font-size: 14px;
  margin: 0;
  line-height: 1.8em;
  font-weight: 400;
}
.specialty-grids-top:nth-child(2) {
  margin-top: 4em;
}
.specialty-button{
	margin-top:3em;
}
/*-- testimonial --*/
.testimonials {
  background: url(../images/i5.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 331px;
  padding: 3em 0;
  position: relative;
  text-align: center;
}
.testmonials div.head-section {
  margin-top: 1em;
}
.testimonial-nfo h3 {
  color: #FFF;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.testimonial-nfo h5 {
  color: #FFFFFF;
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.8em;
  font-weight: 300;
}
.testimonial-nfo h5 span{
	display:block;
}
.testimonial-grid p {
  font-size: 1.3em;
  font-style: italic;
  color: #FFF;
  text-align: center;
  width: 70%;
  margin: 2em auto;
  font-weight: 600;
}
.testimonial-grid p span {
  font-size: 1.2em;
  vertical-align: middle;
}
/*-- news --*/
.news {
  padding: 4em 0;
}
.news-text h3 {
  color: #bb1e10;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.news-text h5 {
  color: #969696;
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.8em;
}
.news-text h5 span{
	display:block;
}
.news-grids {
  margin-top: 3em;
}
.news-grid img{
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin: 1em 0;
}
.news-grid a h4{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 .3em 0;
}
.news-grid a:hover{
	text-decoration:none;
}
.news-grid span {
  color: #bb1e10;
  font-size: 14px;
  line-height: 1.7em;
}
.news-info p {
  color: #333333;
  font-size: 14px;
  margin: 0;
  line-height: 1.8em;
  font-weight: 400;
}
/*-- footer --*/
.footer{
	padding:3em 0;
	background:#292929;
}
.footer-left ul{
	padding:0;
	margin:0;
}
.footer-left ul li{
	display:inline-block;
	margin:0 1em;
}
.footer-left ul li:nth-child(1){
	margin-left:0;
}
.footer-left ul li a{
	color:#FFF;
	font-size:14px;
}
.footer-left ul li a:hover{
	color: #1884CA;
	text-decoration:none;
}
.footer-left form{
  margin-top: 3em;
}
.footer-left input[type="text"] {
  width: 100%;
  color: #898888;
  background: none;
  outline: none;
  font-size: 16px;
  padding: .5em;
  margin-bottom: 2em;
  -webkit-appearance: none;
  border-bottom: solid 1px #595959;
  border-top: none;
  border-right: none;
  border-left: none;
}
.footer-left input[type="submit"] {
  border: none;
  outline: none;
  color: #FFF;
  padding: .5em 1.5em;
  font-size: 16px;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  background: #bb1e10;
}
.footer-left input[type="submit"]:hover{
	background:#4D4D4D;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.footer-middle h3{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.footer-right p{
  color: #FFF;
  font-size: 14px;
  margin: .5em 0 0 0;
  line-height: 1.8em;
  font-weight: 400;
}
.footer-right a img {
  width: 60%;
}
.address p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.8em;
  padding-left: 3em;
  margin: 2em 0 0 0;
  background: url(../images/location.png) no-repeat 0px 5px;
}
.address p span {
  display: block;
}
.phone{
	margin-top:2em;
}
.phone p{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 1.8em;
	padding-left: 3em;
	margin: 2em 0 0 0;
	background: url(../images/phone.png) no-repeat 0px 0px;
}
.copyright{
  background: #4D4D4D;
  padding: 1em 0;
}
.copyright-left p{
  color: #FFF;
  font-size: 14px;
  margin: .4em 0 0 0;
}
.copyright-left p a{
	color:#FFF;
}
.copyright-left{
	float:left;
}
.copyright-right{
	float:right;
}
.copyright-right ul{
	padding:0;
	margin:0;
}
.copyright-right ul li{
	display:inline-block;
	margin:0 .5em;
}
.copyright-right ul li a.twitter{
  background: url(../images/icons.png) no-repeat 0px 0px;
  height: 24px;
  display: block;
  width: 24px;
}
.copyright-right ul li a.facebook{
  background: url(../images/icons.png) no-repeat -33px 0px;
}
.copyright-right ul li a.chrome{
  background: url(../images/icons.png) no-repeat -66px 0px;
}
.copyright-right ul li a.pinterest{
  background: url(../images/icons.png) no-repeat -99px 0px;
}
.copyright-right ul li a.linkedin{
  background: url(../images/icons.png) no-repeat -132px 0px;
}
.copyright-right ul li a.dribbble{
  background: url(../images/icons.png) no-repeat -164px 0px;
}
.copyright-right ul li a.twitter:hover {
  opacity: 0.5;
}
/*--top-top--*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 25px;
  overflow: hidden;
  width: 47px;
  height: 47px;
  border: none;
  text-indent: 100%;
  background: url(../images/top-arrow.png) no-repeat;
}
}
